.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.navItem {
  transition: 250ms ease-in-out;
  transition-property: color;

  &:hover {
    color: #47c5ff;
  }
}

.currentSection {
  color: #47c5ff;
}
