.list {
  width: 100%;
}

.listInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  min-height: 200px;
  outline: 2px solid blue;
}
