.main {
  padding: 0 2rem;
}

.detail {
  width: 100%;
}

.detailTitle {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.detailInfo {
  display: flex;
}

.detailImage {
  display: flex;
  align-items: center;
  width: 30%;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.detailListContainer {
  width: 100%;
}

.detailList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  list-style-type: none;
}

.detailListItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 0.75rem);
  height: 150px;
  padding: 0.5rem 0;

  span {
    width: 50%;
    text-align: center;
  }
}
