.list {
  width: 100%;
}

.listInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 0.5rem);
  outline: 2px solid blue;
}
