.main {
  padding: 0 2rem;
}

.detail {
  width: 100%;
}

.detailTitle {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.detailInfo {
  display: flex;
}

.detailImage {
  display: flex;
  align-items: center;
  width: 30%;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.detailTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.detailText {
  font-size: 1.25rem;
}
