.main {
  padding: 0 2rem;
}

.detail {
  width: 100%;
}

.detailInfo {
  display: flex;
}

.detailImage {
  width: 30%;
  display: flex;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.detailTextContainer {
  width: 70%;
}

.detailText {
  font-size: 1.25rem;
}
